<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Raphiel Collins</h1>
    
    <p>
       Hello, I'm really bad at any type of writing as I don't really know how to eexpress myself. <br>
       I am 21 years old although I will twll you I'm 20 as I've not celebrate one because of COVID. <br>
       I am ambitious and driven. I thrive on challenge and constantly set goals for myself, <br>
       so I have something to strive towards. <br>
       Yet I'm still severely socially awkward and can't communicate well and will most likely have a  <br>
       panic attack ifunexpectedly confronted or called upon. <br>
       Some intresting things about me is that I'm a huge Anime fan to the point that I'm taking <br>
       Japanese course to feed that adiction. <br>
       I also read alot of Manga, Manhwa and Manhua. Also I'm really obsessed with The Untamed and  <br>
       it's original counterpart Mo Dao Zu SHi.

    </p>
</body>
</html>
